/*---------------------------KEYFRAMES----------------------------*/

@-webkit-keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

@keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/*-------------------COMMON CODE FOR THE WHOLE WEBSITE--------------------*/
*{
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Poppins', sans-serif;

}

body{
  margin: 0;
  color: #000;
}

a:focus {
  border: 2px solid #c65f39;
  overflow-y: hidden;
}

h1{
  font-size: 2em;
  line-height: 1.6;
  color: #284040;
}

p{
  font-size: 1.4em;
  line-height: 1.6;
}
hr{
  height:6px;
  background-color: #a52a2a;
}

.showcase img{
  max-width: 100%;
  margin-top: 10vh;
  max-width: 100%;
  background-repeat: no-repeat;
}
video{
  max-width: 100%;
}
/*------------------RESPONSIVE COMMON CODE WITH MAX-WIDTH 800PX START-------------------*/
@media only screen and (max-width:800px){
body{
  margin: auto;
  }
  h1{
  font-size: 1.8em;
}

 p{
   font-size: 1.2em;
 }
}
/*------------------RESPONSIVE COMMON CODE WITH MAX-WIDTH 800PX END-------------------*/



/*---------------------------HEADER START----------------------------*/
/*------------------RESPONSIVE PAGE WITH MIN-WIDTH 800PX START-------------------*/
@media only screen and (min-width:800px){
  /*---------------------------MENU----------------------------*/
  .menu-toggle{
    display: none;
  }

  .mobilhead{
    display: none;
  }

.desktop header{
    height: 10vh;
    width: 100%;

  }

  .desktop header nav{
    right: 0;
    margin-right: 2vw;

  }

  .desktop nav{
  background-color: #f2f2f2;
  height: 10vh;
  width: 100vw;
  float: right;
  overflow-y: hidden;
  }

  .desktop nav li {
    list-style: none;
    display: inline-block;
  }

  .desktop nav ul{
    float: right;
    margin-top: 3.5vh;
  }

  .desktop nav  a{
    display: inline-block;
    color: black;
    margin-right: 8vw;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 5px 1px 15px #a52a2a;
  }

  .desktop nav a:hover{
    color: #c65f39;
    text-decoration: underline;
    opacity: inherit;
  }

  .desktop .logo{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
  }
  hr{
    height:6px;
    background-color: #a52a2a;

  }

}
/*------------------RESPONSIVE PAGE WITH MIN-WIDTH 800PX END-------------------*/


/*------------------RESPONSIVE HEADER WITH MAX-WIDTH 800PX START-------------------*/
@media only screen and (max-width:800px){
.desktop{
  display: none;
}

header{
  height: 10vh;
  width: 100%;
  background-color: #f2f2f2;
  position: fixed;
  z-index: 1;
  overflow-y: hidden;
}

nav{
background-color:  #f2f2f2;
position: fixed;
z-index: 10;
left: 0;
right: 0;
top: 0;
height: 100vh;
width: 100%;

}

header nav{
  right: 0;
  margin-right: 2vw;

}

nav a:visited {
  color: #fff;
}

nav a:hover{
  color: #c65f39;
  text-decoration: underline;
  opacity: inherit;
}
header img{
  float: left;
  height: 8vh;
  width: auto;
  margin: 5px;

}

/*---------HAMBURGER MENU ICON/BUTTON STYLING----------*/
.menu-toggle{
  font-size:30px;
  float:right;
  overflow-y: hidden;
  height: auto;
  width: auto;
  margin-top: 2vh;
  margin-right: 2vw;
}

#main-menu-toggle{
  color: #a52a2a;;
}

#main-menu-close{
  color: #a52a2a;;
  font-size: 1.5em;
}

.main-menu {
  position: absolute;
  display: none;
  top: 0;
  overflow-x: visible;
  z-index: 999;
}

.main-menu ul{
  text-align: center;
  margin-top: 1em;
  list-style: none;
  min-height: 100%;
  display: block;
  font-size: 2.5em;
  padding-left: 1em;
  padding-right: 1em
  color: #fff;
  width: auto;
  height: auto;
  overflow-y: hidden;
  font-weight: bold;
  text-decoration: none;
}

.main-menu li a {
  display: inline-block;
  line-height: 1em;
  color: #a52a2a;
  text-decoration: none;
  padding: 2%;
}

.main-menu a.menu-close {
  border-bottom: 0;
}

.main-menu a:focus,
.main-menu a:hover {
  color: #c65f39;
  text-decoration: underline;
}

.main-menu .menu-close {
  margin-top: 2vh;
  margin-right: 2vw;
  font-size: 50px;
  float:right;
  overflow-y: hidden;
  height: auto;
  width: auto;
}

.main-menu:target {
  display: block;
  right: 0;
}

.main-menu:target .menu-close, .menu-close {
  z-index: 1001;
}

.main-menu:target ul,{
  position: relative;
  z-index: 1000;
}

.close{
    background-color:#a52a2a;
    height: 75px;
    width: 150px;
    border-radius: 35px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

  }

  .close a{
    font-size: 1em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
    color: black;
    overflow-y: hidden;
  }
  .close a:visited{
    color: white;
  }

  .close a:hover, .close a:focus{
    color: #fff;
  }

.main-menu:target + .backdrop{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #284040;
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop{
    position: fixed;
  }
}
/*--------- END HAMBURGER MENU ICON/BUTTON STYLING----------*/
}
/*------------------RESPONSIVE HEADER WITH MAX-WIDTH 800PX START-------------------*/
/*---------------------------HEADER END---------------------------*/


/*---------------------------Desktop body START----------------------------*/
.body{
  margin-left: 12vw;
  margin-right: 12vw;
  margin-bottom: 12vh;
}

.body h1{
  color: #a52a2a;
  text-decoration: underline;
  margin-top: 10vh;
}

.body h3{
  margin-bottom: 3vh;
  font-size: 1.1em;
  font-style: italic;
  text-decoration: underline;
}

.body ul{
  line-height: 1.6em;
  font-size: 1.2em;
}
.body li{
  margin-top: 15px;
}

/*---------------------------Desktop body END----------------------------*/


/*---------------------------Body START WITH MAX-WIDTH 800PX START----------------------------*/
@media only screen and (max-width:800px){

}

/*---------------------------Body END WITH MAX-WIDTH 800PX START---------------------------*/
/*---------------------------FOOTER START----------------------------*/
footer{
  background-color: #a52a2a;
  height: auto;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: inline-block;
  align-content: center;
  text-align: center;
  padding-bottom: 10px;
}

footer  h3{
  color: #f2f2f2;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.4em;
  margin-top: 2vh;
}

footer  p{
  font-size: 1.2em;
  margin-bottom: 10px;
  margin: 0 10vw 2vh 10vw;
  color: #f2f2f2;
}

footer  a:hover{
  color: #fff;
  text-decoration: underline;
  text-decoration-style: solid 3px;
  text-decoration-color: #fff;
}
/*----------------ABOUT START----------------*/
.about{
  margin-left: 20vw;
  margin-right: 20vw;
}
/*----------------ABOUT END----------------*/


/*----------------FOOTERLINKS START----------------*/
footer .footlink{
  margin: 1vh 4vw 0 0;
  float: right;
}

footer .footlink a{
  color: #fff;
  font-size: 1.6em;
  text-decoration: none;
}

footer .footlink button{
  font-size: 0.8em;
  background-color: transparent;
  border: 4px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  display: inline-block;
  padding: 1vh 2vw;
  text-align: center;
}

footer .footlink button:hover{
  border-color: #f89f4e;
}
/*----------------FOOTERLINKS START----------------*/

/*----------------ARROW UP START----------------*/
footer .arrow{
  float: left;
  position: absolute;
  overflow-y: hidden;
}

.fa-arrow-up{
  margin: 1vh 0 0 2vw;
  color: white;
  padding-top: 10px;
  line-height: 3em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
}

 .fa-arrow-up:hover{
  color: #f89f4e;
}

footer .arrow a{
  font-size: 3em;
}
/*----------------ARROW UP END----------------*/

/*----------------SOCIAL MEDIA ICONS START----------------*/
footer .smicons{
  width: 100vw;
  align-content: center;
  align-items: center;
  text-align: center;
}

footer .smicons a{
  margin: 3vh 2vw 2vh 2vw;
  font-size: 2em;
  color: black;
}

footer .smicons a:hover{
  color: #f89f4e;;
  text-decoration: underline;
  text-decoration-style: solid 3px;
  text-decoration-color: #fff;
}
/*----------------SOCIAL MEDIA ICONS END----------------*/

/*------------------RESPONSIVE FOOTER WITH MAX-WIDTH 800PX START-------------------*/
@media only screen and (max-width:800px){
  footer{
    height: auto;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: inline-block;
    align-content: center;
    text-align: center;
  }

  footer  h3{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.4em;
  }

  footer  p{
    font-size: 1em;
    margin: 0;
    padding: 0;
  }

  footer  a{
    display: inline;
    font-size: 1.4em;
    text-decoration:none;
  }

  footer  a:hover{
    color: #fff;
    text-decoration: underline;
    text-decoration-style: solid 3px;
    text-decoration-color: #fff;
  }

  /*----------------FOOTERLINKS START----------------*/
  footer .footlink{
    margin: 1vh 5vw 0 0;
    float: right;
  }

  footer .footlink a{
    font-size: 1.6em;
    text-decoration: none;
  }

  footer .footlink button{
    font-size: 0.4em;
    background-color: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    display: inline-block;
    padding: 1vh 2vw;
    text-align: center;
  }

  footer .footlink button:hover{
    border-color: #f89f4e;;
  }
  footer .smicons {
    margin-top: 4vh;
  }
  /*----------------FOOTERLINKS END----------------*/

  /*----------------ARROW START----------------*/
  footer .arrow{
    overflow-y: hidden;
  }

  .fa-arrow-up{
    padding-top: 10px;
    line-height: 3em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
  }
  footer .arrow a{
    font-size: 2em;
  }
  /*----------------ARROW END----------------*/
  /*------------------RESPONSIVE FOOTER WITH MAX-WIDTH 800PX END-------------------*/
